@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic);
@font-face {
  font-family: 'AcquestScript-Regular';
  src: url("../fonts/AcquestScript/AcquestScript.eot");
  src: url("../fonts/AcquestScript/AcquestScript.eot?#iefix") format("embedded-opentype"), url("../fonts/AcquestScript/AcquestScript.woff") format("woff"), url("../fonts/AcquestScript/AcquestScript.ttf") format("truetype"), url("../fonts/AcquestScript/AcquestScript.svg#AcquestScript-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-201D; }
@font-face {
  font-family: 'FuturaCondensedPlain-Regular';
  src: url("../fonts/FuturaCondensedPlain/FuturaCondensedPlain.eot");
  src: url("../fonts/FuturaCondensedPlain/FuturaCondensedPlain.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaCondensedPlain/FuturaCondensedPlain.woff") format("woff"), url("../fonts/FuturaCondensedPlain/FuturaCondensedPlain.ttf") format("truetype"), url("../fonts/FuturaCondensedPlain/FuturaCondensedPlain.svg#FuturaCondensedPlain-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2020; }
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #222;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fae9f9+0,efdeee+27,d2ceea+50,f9f2f9+75,efdfee+100 */
  background: #fae9f9;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmFlOWY5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMjclIiBzdG9wLWNvbG9yPSIjZWZkZWVlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZDJjZWVhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNzUlIiBzdG9wLWNvbG9yPSIjZjlmMmY5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VmZGZlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg, #fae9f9 0%, #efdeee 27%, #d2ceea 50%, #f9f2f9 75%, #efdfee 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #fae9f9), color-stop(27%, #efdeee), color-stop(50%, #d2ceea), color-stop(75%, #f9f2f9), color-stop(100%, #efdfee));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #fae9f9 0%, #efdeee 27%, #d2ceea 50%, #f9f2f9 75%, #efdfee 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #fae9f9 0%, #efdeee 27%, #d2ceea 50%, #f9f2f9 75%, #efdfee 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #fae9f9 0%, #efdeee 27%, #d2ceea 50%, #f9f2f9 75%, #efdfee 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #fae9f9 0%, #efdeee 27%, #d2ceea 50%, #f9f2f9 75%, #efdfee 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fae9f9', endColorstr='#efdfee',GradientType=1 );
  /* IE6-8 fallback on horizontal gradient */ }

.container {
  position: relative; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  color: #0d80e6;
  text-decoration: none; }
  a:hover, a:focus {
    outline: none;
    color: #0d80e6;
    text-decoration: underline; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: 400; }

p {
  padding: 0;
  margin: 0 0 10px 0; }

.text-orange {
  color: #e24d1e; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 1170px) {
    .container {
      width: 1160px; } }
  @media (min-width: 1620px) {
    .container {
      width: 1600px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: -10px;
  margin-right: -10px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-1 {
    width: 8.33333%; }

  .col-sm-2 {
    width: 16.66667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.33333%; }

  .col-sm-5 {
    width: 41.66667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.33333%; }

  .col-sm-8 {
    width: 66.66667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.33333%; }

  .col-sm-11 {
    width: 91.66667%; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-pull-1 {
    right: 8.33333%; }

  .col-sm-pull-2 {
    right: 16.66667%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-4 {
    right: 33.33333%; }

  .col-sm-pull-5 {
    right: 41.66667%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-7 {
    right: 58.33333%; }

  .col-sm-pull-8 {
    right: 66.66667%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-10 {
    right: 83.33333%; }

  .col-sm-pull-11 {
    right: 91.66667%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-push-1 {
    left: 8.33333%; }

  .col-sm-push-2 {
    left: 16.66667%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-4 {
    left: 33.33333%; }

  .col-sm-push-5 {
    left: 41.66667%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-7 {
    left: 58.33333%; }

  .col-sm-push-8 {
    left: 66.66667%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-10 {
    left: 83.33333%; }

  .col-sm-push-11 {
    left: 91.66667%; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-offset-0 {
    margin-left: 0%; }

  .col-sm-offset-1 {
    margin-left: 8.33333%; }

  .col-sm-offset-2 {
    margin-left: 16.66667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.33333%; }

  .col-sm-offset-5 {
    margin-left: 41.66667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.33333%; }

  .col-sm-offset-8 {
    margin-left: 66.66667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.33333%; }

  .col-sm-offset-11 {
    margin-left: 91.66667%; }

  .col-sm-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1170px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-1 {
    width: 8.33333%; }

  .col-md-2 {
    width: 16.66667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.33333%; }

  .col-md-5 {
    width: 41.66667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.33333%; }

  .col-md-8 {
    width: 66.66667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.33333%; }

  .col-md-11 {
    width: 91.66667%; }

  .col-md-12 {
    width: 100%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-pull-1 {
    right: 8.33333%; }

  .col-md-pull-2 {
    right: 16.66667%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-4 {
    right: 33.33333%; }

  .col-md-pull-5 {
    right: 41.66667%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-7 {
    right: 58.33333%; }

  .col-md-pull-8 {
    right: 66.66667%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-10 {
    right: 83.33333%; }

  .col-md-pull-11 {
    right: 91.66667%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-push-1 {
    left: 8.33333%; }

  .col-md-push-2 {
    left: 16.66667%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-4 {
    left: 33.33333%; }

  .col-md-push-5 {
    left: 41.66667%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-7 {
    left: 58.33333%; }

  .col-md-push-8 {
    left: 66.66667%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-10 {
    left: 83.33333%; }

  .col-md-push-11 {
    left: 91.66667%; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-offset-0 {
    margin-left: 0%; }

  .col-md-offset-1 {
    margin-left: 8.33333%; }

  .col-md-offset-2 {
    margin-left: 16.66667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.33333%; }

  .col-md-offset-5 {
    margin-left: 41.66667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.33333%; }

  .col-md-offset-8 {
    margin-left: 66.66667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.33333%; }

  .col-md-offset-11 {
    margin-left: 91.66667%; }

  .col-md-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1620px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-1 {
    width: 8.33333%; }

  .col-lg-2 {
    width: 16.66667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.33333%; }

  .col-lg-5 {
    width: 41.66667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.33333%; }

  .col-lg-8 {
    width: 66.66667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.33333%; }

  .col-lg-11 {
    width: 91.66667%; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-pull-1 {
    right: 8.33333%; }

  .col-lg-pull-2 {
    right: 16.66667%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-4 {
    right: 33.33333%; }

  .col-lg-pull-5 {
    right: 41.66667%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-7 {
    right: 58.33333%; }

  .col-lg-pull-8 {
    right: 66.66667%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-10 {
    right: 83.33333%; }

  .col-lg-pull-11 {
    right: 91.66667%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-push-1 {
    left: 8.33333%; }

  .col-lg-push-2 {
    left: 16.66667%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-4 {
    left: 33.33333%; }

  .col-lg-push-5 {
    left: 41.66667%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-7 {
    left: 58.33333%; }

  .col-lg-push-8 {
    left: 66.66667%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-10 {
    left: 83.33333%; }

  .col-lg-push-11 {
    left: 91.66667%; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-offset-0 {
    margin-left: 0%; }

  .col-lg-offset-1 {
    margin-left: 8.33333%; }

  .col-lg-offset-2 {
    margin-left: 16.66667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.33333%; }

  .col-lg-offset-5 {
    margin-left: 41.66667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.33333%; }

  .col-lg-offset-8 {
    margin-left: 66.66667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.33333%; }

  .col-lg-offset-11 {
    margin-left: 91.66667%; }

  .col-lg-offset-12 {
    margin-left: 100%; } }
.btn {
  margin: 0;
  color: #fff;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  position: relative;
  padding: 7px 20px;
  border: 1px solid #fff;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  background-image: none;
  background: transparent;
  touch-action: manipulation;
  text-transform: uppercase; }
  .btn:hover {
    text-decoration: none; }
  .btn:active {
    top: 1px; }

.btn-transparent:hover {
  background: rgba(255, 255, 255, 0.3); }

.btn-dark {
  padding: 7px 10px;
  background: #262626;
  border-color: #262626; }
  .btn-dark:hover {
    background: #505050;
    border-color: #505050; }

.btn-subscribe {
  color: #313131;
  background: #fff;
  padding: 1px 15px; }
  .btn-subscribe:hover {
    background: #cac8c8; }

.form-control {
  margin: 0;
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  font-size: 15px;
  line-height: 20px;
  padding: 5px 0 0 0;
  display: inline-block;
  background: transparent;
  border-bottom: 1px solid #fff; }
  .form-control::-moz-placeholder {
    color: #fff;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #fff; }
  .form-control::-webkit-input-placeholder {
    color: #fff; }
  .form-control::-ms-clear {
    display: none;
    width: 0;
    height: 0; }
  .form-control:focus::-moz-placeholder {
    color: transparent;
    opacity: 1; }
  .form-control:focus:-ms-input-placeholder {
    color: transparent; }
  .form-control:focus::-webkit-input-placeholder {
    color: transparent; }

label {
  font-weight: 400;
  display: block; }

.form-group {
  position: relative;
  margin-bottom: 20px; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hide {
  visibility: hidden;
  display: none !important; }

.show {
  visibility: visible;
  display: block !important; }

.invisible {
  visibility: hidden; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

@-ms-viewport {
  width: device-width; }
.visible-xs {
  display: none !important; }

.visible-sm {
  display: none !important; }

.visible-md {
  display: none !important; }

.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }

  table.visible-xs {
    display: table !important; }

  tr.visible-xs {
    display: table-row !important; }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 1169px) {
  .visible-sm {
    display: block !important; }

  table.visible-sm {
    display: table !important; }

  tr.visible-sm {
    display: table-row !important; }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 1169px) {
  .visible-sm-block {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 1169px) {
  .visible-sm-inline {
    display: inline !important; } }

@media (min-width: 768px) and (max-width: 1169px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 1170px) and (max-width: 1619px) {
  .visible-md {
    display: block !important; }

  table.visible-md {
    display: table !important; }

  tr.visible-md {
    display: table-row !important; }

  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }
@media (min-width: 1170px) and (max-width: 1619px) {
  .visible-md-block {
    display: block !important; } }

@media (min-width: 1170px) and (max-width: 1619px) {
  .visible-md-inline {
    display: inline !important; } }

@media (min-width: 1170px) and (max-width: 1619px) {
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 1620px) {
  .visible-lg {
    display: block !important; }

  table.visible-lg {
    display: table !important; }

  tr.visible-lg {
    display: table-row !important; }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }
@media (min-width: 1620px) {
  .visible-lg-block {
    display: block !important; } }

@media (min-width: 1620px) {
  .visible-lg-inline {
    display: inline !important; } }

@media (min-width: 1620px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 1169px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 1170px) and (max-width: 1619px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1620px) {
  .hidden-lg {
    display: none !important; } }
.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }

  table.visible-print {
    display: table !important; }

  tr.visible-print {
    display: table-row !important; }

  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }
.visible-print-block {
  display: none !important; }
  @media print {
    .visible-print-block {
      display: block !important; } }

.visible-print-inline {
  display: none !important; }
  @media print {
    .visible-print-inline {
      display: inline !important; } }

.visible-print-inline-block {
  display: none !important; }
  @media print {
    .visible-print-inline-block {
      display: inline-block !important; } }

@media print {
  .hidden-print {
    display: none !important; } }
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0; }

.embed-responsive-16by9 {
  padding-bottom: 56.25%; }

.embed-responsive-4by3 {
  padding-bottom: 75%; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.header .header__top {
  padding: 5px 0; }
  .header .header__top .header__shipping {
    color: #5f5f5f;
    font-size: 8px;
    padding: 4px 0;
    line-height: 12px;
    text-align: center;
    font-family: "PT Serif", serif;
    text-transform: uppercase; }
    .header .header__top .header__shipping a {
      color: #000;
      border-bottom: 1px solid #bcbcbc;
      text-decoration: none !important; }
      .header .header__top .header__shipping a:hover {
        border-bottom-color: transparent; }
  .header .header__top .header__shopName {
    width: 120px;
    color: #242424;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase; }
  .header .header__top .header__callback {
    color: #888888;
    font-size: 14px;
    line-height: 24px;
    margin-right: 7px;
    display: inline-block;
    text-decoration: underline; }
    .header .header__top .header__callback:hover {
      text-decoration: none; }
  .header .header__top .header__phone {
    color: #242424;
    font-size: 18px;
    line-height: 24px;
    font-family: "PT Sans Narrow", sans-serif; }
.header .header__center {
  position: relative;
  background: #262626; }
.header .header__logo {
  width: 120px;
  height: 40px;
  display: block;
  padding-top: 4px;
  padding-bottom: 3px; }
.header .primaryNav {
  width: 100%; }
  .header .primaryNav > ul {
    margin: 0;
    padding: 5px 0;
    float: left;
    list-style: none; }
    .header .primaryNav > ul > li {
      float: left;
      margin: 0 4px;
      font-size: 11px;
      line-height: 14px;
      text-transform: uppercase; }
      .header .primaryNav > ul > li a {
        color: #fff;
        text-decoration: none; }
        .header .primaryNav > ul > li a:hover {
          color: #e24d1e; }
      .header .primaryNav > ul > li.active a {
        color: #e24d1e; }
  .header .primaryNav .btn-nav {
    width: 24px;
    float: left;
    font-size: 0;
    line-height: 0;
    display: block;
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 1px;
    margin-right: 5px; }
    .header .primaryNav .btn-nav .btn-nav-line {
      width: 24px;
      height: 3px;
      display: block;
      background: #fff;
      margin-bottom: 3px; }
.header .support-bar {
  top: 0;
  left: 125px;
  right: 10px;
  text-align: right;
  padding: 8px 0 0 0;
  position: absolute; }
  .header .support-bar .second-nav {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style: none; }
    .header .support-bar .second-nav > li {
      float: left;
      margin-right: 6px; }
      .header .support-bar .second-nav > li a {
        color: #fff;
        height: 24px;
        font-size: 11px;
        line-height: 24px;
        padding-left: 20px;
        position: relative;
        display: inline-block;
        text-decoration: none; }
        .header .support-bar .second-nav > li a:before {
          left: 0;
          top: 2px;
          width: 20px;
          height: 20px;
          content: ' ';
          cursor: pointer;
          position: absolute;
          background: url("../img/sprite.png") no-repeat; }
        .header .support-bar .second-nav > li a:hover {
          color: #919191; }
      .header .support-bar .second-nav > li.item1 a:before {
        background-position: 0 0; }
      .header .support-bar .second-nav > li.item1 a:hover:before {
        background-position: -20px 0; }
      .header .support-bar .second-nav > li.item2 a:before {
        background-position: 0 -20px; }
      .header .support-bar .second-nav > li.item2 a:hover:before {
        background-position: -20px -20px; }
      .header .support-bar .second-nav > li.item3 a:before {
        background-position: 0 -40px; }
      .header .support-bar .second-nav > li.item3 a:hover:before {
        background-position: -20px -40px; }
  .header .support-bar .header__basket {
    display: inline-block;
    color: #fff;
    height: 24px;
    font-size: 12px;
    cursor: pointer;
    line-height: 12px;
    padding-left: 22px;
    position: relative; }
    .header .support-bar .header__basket:before {
      left: 0;
      top: 2px;
      width: 20px;
      height: 20px;
      content: ' ';
      cursor: pointer;
      position: absolute;
      background: url("../img/sprite.png") 0 -60px no-repeat; }
    .header .support-bar .header__basket .basket-value {
      display: block;
      font-size: 10px; }
    .header .support-bar .header__basket.open, .header .support-bar .header__basket:hover {
      color: #919191; }
      .header .support-bar .header__basket.open:before, .header .support-bar .header__basket:hover:before {
        background-position: -20px -60px; }
  .header .support-bar .header__search-toddle {
    display: inline-block;
    color: #fff;
    height: 21px;
    margin-left: 5px;
    font-size: 12px;
    cursor: pointer;
    line-height: 12px;
    padding-left: 22px;
    position: relative; }
    .header .support-bar .header__search-toddle:before {
      top: 0;
      left: 0;
      width: 21px;
      height: 20px;
      border: none;
      outline: none;
      content: ' ';
      cursor: pointer;
      position: absolute;
      background: transparent url("../img/icon_loop.png") 0 0 no-repeat; }
.header .header__search {
  width: 100%;
  height: 24px;
  display: none;
  position: relative;
  margin: 5px 0 10px 0; }
  .header .header__search .header__search_input {
    color: #fff;
    width: 100%;
    outline: none;
    display: block;
    font-size: 13px;
    line-height: 16px;
    background: #949494;
    border: 1px solid #949494;
    padding: 3px 25px 3px 4px; }
    .header .header__search .header__search_input:focus {
      color: #242424;
      background: #fff; }
  .header .header__search .btn-header-search {
    top: 3px;
    right: 4px;
    width: 21px;
    height: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    background: transparent url("../img/icon_loop.png") 0 0 no-repeat; }
.header .topNav {
  display: none;
  margin-top: 10px;
  border-top: 1px solid #262626; }
  .header .topNav > ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none; }
    .header .topNav > ul > li a {
      width: 100%;
      display: block;
      color: #6d6d6d;
      font-size: 14px;
      line-height: 20px;
      padding: 3px 5px;
      text-decoration: none; }
      .header .topNav > ul > li a:hover {
        color: #e24d1e; }
.header .header__bottom {
  color: #555;
  padding: 5px 0;
  font-size: 10px;
  text-align: center;
  background: #fae9f9;
  font-family: "PT Serif", serif; }
  .header .header__bottom .hb__text {
    display: block; }
  .header .header__bottom .hb__link {
    color: #000;
    outline: none;
    padding: 1px 4px;
    position: relative;
    background: #fcf2fb;
    display: inline-block;
    text-decoration: none;
    margin-left: -9px;
    text-transform: uppercase;
    border: 1px solid #b3b3b5; }
    .header .header__bottom .hb__link:before {
      top: -1px;
      right: -18px;
      width: 18px;
      height: 18px;
      content: ' ';
      position: absolute;
      border: 1px solid #b3b3b5;
      border-left: none;
      background: url("../img/header_bottom_arrow.png") center no-repeat; }
@media (min-width: 768px) {
  .header .header__top {
    padding-top: 12px;
    padding-bottom: 6px; }
    .header .header__top .header__shipping {
      font-size: 11px;
      padding: 4px 0 9px 0;
      text-align: right; }
  .header .header__logo {
    float: left;
    margin-right: 25px; }
  .header .primaryNav {
    width: auto;
    float: right;
    padding: 8px 0; }
    .header .primaryNav > ul > li {
      font-size: 15px;
      margin: 0 6px; }
  .header .support-bar {
    left: auto;
    right: auto;
    width: 100%;
    float: left;
    padding: 8px 0;
    position: relative;
    text-align: left; }
    .header .support-bar .second-nav {
      float: left; }
      .header .support-bar .second-nav > li {
        margin-right: 15px; }
        .header .support-bar .second-nav > li a {
          font-size: 14px;
          padding-left: 24px; }
    .header .support-bar .header__basket {
      float: right; }
    .header .support-bar .header__search-toddle {
      display: none; }
  .header .header__search {
    right: 150px;
    width: 210px;
    height: 24px;
    bottom: 8px;
    margin: 0;
    display: block;
    position: absolute; }
    .header .header__search .header__search_input {
      color: #fff;
      width: 100%;
      outline: none;
      display: block;
      font-size: 13px;
      line-height: 16px;
      background: #949494;
      border: 1px solid #949494;
      padding: 3px 25px 3px 4px; }
      .header .header__search .header__search_input:focus {
        color: #242424;
        background: #fff; }
    .header .header__search .btn-header-search {
      width: 21px;
      height: 20px;
      border: none;
      outline: none;
      cursor: pointer;
      position: absolute;
      background: transparent url("../img/icon_loop.png") 0 0 no-repeat; }
  .header .topNav {
    display: none;
    margin-top: 10px;
    border-top: 1px solid #262626; }
    .header .topNav > ul {
      display: table; }
      .header .topNav > ul > li {
        display: table-cell; }
        .header .topNav > ul > li a {
          font-size: 15px; }
  .header .header__bottom {
    font-size: 16px;
    line-height: 20px; }
    .header .header__bottom .hb__text {
      display: inline; }
    .header .header__bottom .sup {
      font-size: 13px;
      text-transform: uppercase; }
    .header .header__bottom .hb__link {
      color: #000;
      outline: none;
      padding: 0 4px;
      position: relative;
      background: #fcf2fb;
      display: inline-block;
      text-decoration: none;
      margin-left: 5px;
      text-transform: uppercase;
      border: 1px solid #b3b3b5; }
      .header .header__bottom .hb__link:before {
        top: -1px;
        right: -20px;
        width: 22px;
        height: 22px;
        content: ' ';
        position: absolute;
        border: 1px solid #b3b3b5;
        border-left: none;
        background: url("../img/header_bottom_arrow.png") center no-repeat; } }
@media (min-width: 1170px) {
  .header .primaryNav {
    float: left; }
    .header .primaryNav .btn-nav {
      display: none; }
  .header .support-bar {
    width: auto;
    float: right; }
    .header .support-bar .header__basket {
      margin-left: 205px; }
  .header .header__search {
    right: 95px;
    width: 180px;
    margin-left: 0; }
  .header .topNav {
    top: 25px;
    left: 150px;
    float: left;
    display: block;
    margin-top: 0;
    border-top: none;
    position: absolute; }
    .header .topNav > ul {
      width: auto;
      float: left;
      display: block; }
      .header .topNav > ul > li {
        float: left;
        display: block; }
        .header .topNav > ul > li a {
          font-size: 15px; } }

.footer {
  background: #1a1a1a; }
  .footer .footer__top {
    padding-top: 20px;
    padding-bottom: 20px; }
  .footer .footer__bottom {
    color: #656565;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    padding: 5px 0;
    margin-left: 10px;
    margin-right: 10px;
    border-top: 1px solid #656565; }
  .footer .footerInfo__title {
    color: #d9d9d9;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 3px;
    font-family: "PT Sans Narrow", sans-serif;
    text-transform: uppercase; }
  .footer .footerInfo {
    padding-top: 10px;
    margin-bottom: 20px; }
    .footer .footerInfo .footer__pay {
      margin-bottom: 26px; }
      .footer .footerInfo .footer__pay ul {
        margin: 0;
        padding: 0;
        font-size: 0;
        line-height: 0;
        list-style: none; }
        .footer .footerInfo .footer__pay ul li {
          display: inline-block;
          margin-right: 12px; }
    .footer .footerInfo .footer__social a {
      float: left;
      width: 39px;
      height: 39px;
      display: block;
      cursor: pointer;
      margin-right: 16px; }
  .footer .footer__contact .footer__callback .btn-fcb {
    color: #888;
    font-size: 12px;
    line-height: 20px;
    display: inline-block;
    text-decoration: underline; }
    .footer .footer__contact .footer__callback .btn-fcb:hover {
      text-decoration: none; }
  .footer .footer__contact .footer__callback .footer__callback_phone {
    color: #fff;
    font-size: 19px;
    line-height: 20px;
    display: inline-block;
    font-family: "PT Sans Narrow", sans-serif; }
  .footer .footer__form {
    display: none;
    margin-bottom: 20px; }
    .footer .footer__form .footer__title {
      margin-bottom: 10px; }
    .footer .footer__form .form-group {
      padding-left: 30px; }
      .footer .footer__form .form-group.form-name:before {
        bottom: 1px;
        left: 0;
        width: 19px;
        height: 19px;
        content: ' ';
        position: absolute;
        background: url("../img/sprite.png") -120px -18px no-repeat; }
      .footer .footer__form .form-group.form-email:before {
        bottom: 1px;
        left: 0;
        width: 22px;
        height: 18px;
        content: ' ';
        position: absolute;
        background: url("../img/sprite.png") -120px 0 no-repeat; }
    .footer .footer__form .btn {
      width: 100%; }
  @media (min-width: 768px) {
    .footer .footerInfo .footer__pay {
      float: left; }
    .footer .footerInfo .footer__social {
      float: right; } }
  @media (min-width: 1170px) {
    .footer .footer__contact {
      width: 220px;
      float: right; }
    .footer .footer__form {
      display: block; }
    .footer .footerInfo {
      margin-bottom: 0; }
      .footer .footerInfo .footer__pay {
        float: none; }
      .footer .footerInfo .footer__social {
        float: none; } }
  @media (min-width: 1620px) {
    .footer .footerInfo {
      padding-left: 80px; }
    .footer .footer__contact {
      margin-right: 80px; } }

.footerNav .footerNav__title {
  color: #aaaaaa;
  font-size: 13px;
  cursor: pointer;
  line-height: 20px;
  padding: 10px 0;
  display: block;
  font-family: "PT Serif", serif;
  text-transform: uppercase;
  border-bottom: 1px solid #fff; }
.footerNav .footerNav__menu {
  margin: 0;
  padding: 0;
  display: none;
  list-style: none; }
  .footerNav .footerNav__menu li {
    font-size: 14px;
    line-height: 20px; }
    .footerNav .footerNav__menu li a {
      color: #fffefe;
      text-decoration: none; }
      .footerNav .footerNav__menu li a:hover {
        text-decoration: underline; }
@media (min-width: 1170px) {
  .footerNav .footerNav__title {
    border-bottom-color: transparent; }
  .footerNav .footerNav__menu {
    display: block; } }
@media (min-width: 1620px) {
  .footerNav {
    padding-left: 80px; } }

.slider {
  overflow: hidden;
  position: relative;
  max-height: 353px; }
  .slider .slider__body {
    position: relative; }
  .slider .slider-nav {
    top: 50%;
    width: 35px;
    height: 68px;
    z-index: 100;
    cursor: pointer;
    margin-top: -34px;
    position: absolute;
    background: url("../img/slider_nav.png") no-repeat; }
    .slider .slider-nav.prev {
      left: 20px;
      background-position: 0 0; }
      .slider .slider-nav.prev:hover {
        background-position: 0 -68px; }
    .slider .slider-nav.next {
      right: 20px;
      background-position: -35px 0; }
      .slider .slider-nav.next:hover {
        background-position: -35px -68px; }
  .slider .btn-down {
    left: 50%;
    width: 67px;
    height: 35px;
    bottom: 25px;
    cursor: pointer;
    margin-left: -34px;
    position: absolute;
    background: url("../img/slider_nav.png") 0 -170px no-repeat; }
    .slider .btn-down:hover {
      background-position: 0 -135px; }
  @media (min-width: 768px) {
    .slider {
      max-height: 723px; } }
  @media (min-width: 1620px) {
    .slider {
      max-height: 860px; } }

.promo {
  text-align: center;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fae9f9+0,efdeee+27,d2ceea+50,f9f2f9+75,efdfee+100 */
  background: #fae9f9;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmFlOWY5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMjclIiBzdG9wLWNvbG9yPSIjZWZkZWVlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZDJjZWVhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNzUlIiBzdG9wLWNvbG9yPSIjZjlmMmY5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VmZGZlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg, #fae9f9 0%, #efdeee 27%, #d2ceea 50%, #f9f2f9 75%, #efdfee 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #fae9f9), color-stop(27%, #efdeee), color-stop(50%, #d2ceea), color-stop(75%, #f9f2f9), color-stop(100%, #efdfee));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #fae9f9 0%, #efdeee 27%, #d2ceea 50%, #f9f2f9 75%, #efdfee 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #fae9f9 0%, #efdeee 27%, #d2ceea 50%, #f9f2f9 75%, #efdfee 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #fae9f9 0%, #efdeee 27%, #d2ceea 50%, #f9f2f9 75%, #efdfee 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #fae9f9 0%, #efdeee 27%, #d2ceea 50%, #f9f2f9 75%, #efdfee 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fae9f9', endColorstr='#efdfee',GradientType=1 );
  /* IE6-8 fallback on horizontal gradient */ }
  .promo .promo__top {
    color: #555;
    padding: 5px 0;
    font-size: 10px;
    text-align: center;
    margin-bottom: 10px;
    font-family: "PT Serif", serif; }
    .promo .promo__top .pb__text {
      display: block; }
    .promo .promo__top .pb__link {
      color: #000;
      outline: none;
      padding: 1px 4px;
      position: relative;
      background: #fcf2fb;
      display: inline-block;
      text-decoration: none;
      margin-left: -9px;
      text-transform: uppercase;
      border: 1px solid #b3b3b5; }
      .promo .promo__top .pb__link:before {
        top: -1px;
        right: -18px;
        width: 18px;
        height: 18px;
        content: ' ';
        position: absolute;
        border: 1px solid #b3b3b5;
        border-left: none;
        background: url("../img/header_bottom_arrow.png") center no-repeat; }
  .promo .promo__item {
    margin: 0 0 25px 0;
    position: relative;
    display: inline-block; }
    .promo .promo__item img {
      display: inline-block;
      max-width: 100%;
      height: auto; }
  .promo .promo__box {
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 50px;
    color: #fff;
    position: absolute; }
    .promo .promo__box .promo__row {
      width: 100%;
      height: 100%;
      display: table; }
    .promo .promo__box .promo__col {
      width: 100%;
      height: 100%;
      display: table-cell;
      vertical-align: middle; }
    .promo .promo__box .promo__title {
      text-align: center;
      margin-bottom: 40px;
      text-transform: uppercase; }
      .promo .promo__box .promo__title .sub-title {
        display: block;
        font-size: 13px;
        line-height: 15px;
        text-shadow: -2px -3px 7px rgba(0, 0, 0, 0.35); }
      .promo .promo__box .promo__title .primary-title {
        display: block;
        font-size: 25px;
        line-height: 25px;
        font-family: "PT Serif", serif;
        text-shadow: -2px -3px 7px rgba(0, 0, 0, 0.35); }
    .promo .promo__box .promo__text {
      font-size: 12px;
      text-align: center; }
  .promo .promo__bottom {
    left: 10px;
    right: 10px;
    bottom: 40px;
    text-align: center;
    position: absolute; }
    .promo .promo__bottom.promo__school {
      bottom: 15px; }
    .promo .promo__bottom .btn-school {
      cursor: pointer;
      display: block;
      margin: 0 20px;
      opacity: 0.7;
      filter: alpha(opacity=70); }
      .promo .promo__bottom .btn-school:hover {
        opacity: 1;
        filter: alpha(opacity=100); }
  @media (min-width: 768px) {
    .promo .promo__top {
      padding: 10px 0;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 10px; }
      .promo .promo__top .pb__text {
        display: inline; }
      .promo .promo__top .sup {
        font-size: 13px;
        text-transform: uppercase; }
      .promo .promo__top .pb__link {
        color: #000;
        outline: none;
        padding: 0 4px;
        position: relative;
        background: #fcf2fb;
        display: inline-block;
        text-decoration: none;
        margin-left: 5px;
        text-transform: uppercase;
        border: 1px solid #b3b3b5; }
        .promo .promo__top .pb__link:before {
          top: -1px;
          right: -20px;
          width: 22px;
          height: 22px;
          content: ' ';
          position: absolute;
          border: 1px solid #b3b3b5;
          border-left: none;
          background: url("../img/header_bottom_arrow.png") center no-repeat; }
    .promo .promo__item {
      margin: 0 15px 25px 15px; }
    .promo .promo__box .promo__title .sub-title {
      font-size: 15px;
      line-height: 18px; }
    .promo .promo__box .promo__title .primary-title {
      font-size: 30px;
      line-height: 30px; }
    .promo .promo__box .promo__text {
      font-size: 14px;
      text-align: center; } }
  @media (min-width: 1170px) {
    .promo .promo__item {
      margin-bottom: 30px; }
    .promo .promo__box .promo__title .sub-title {
      font-size: 15px;
      line-height: 18px; }
    .promo .promo__box .promo__title .primary-title {
      font-size: 30px;
      line-height: 30px; }
    .promo .promo__box .promo__text {
      font-size: 14px;
      text-align: center; } }
  @media (min-width: 1620px) {
    .promo .promo__item {
      margin-bottom: 60px; }
    .promo .promo__box {
      bottom: 70px; }
      .promo .promo__box .promo__title .sub-title {
        font-size: 21px;
        line-height: 24px; }
      .promo .promo__box .promo__title .primary-title {
        font-size: 40px;
        line-height: 40px; }
      .promo .promo__box .promo__text {
        font-size: 20px;
        text-align: center; } }

.hits {
  background: #fff;
  padding-bottom: 30px; }
  .hits .hits-title {
    color: #191919;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 10px;
    font-family: "PT Serif", serif;
    text-transform: uppercase; }
  .hits .promoSlider {
    padding: 0 25px;
    position: relative; }
    .hits .promoSlider .promoSlider__body {
      margin-bottom: 10px; }
    .hits .promoSlider .promoSlider__item {
      outline: none;
      margin: 0 5px;
      position: relative; }
    .hits .promoSlider .promoSlider__image {
      position: relative;
      margin-bottom: 5px; }
    .hits .promoSlider .promoSlider__link {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      cursor: pointer;
      position: absolute;
      text-align: center; }
      .hits .promoSlider .promoSlider__link span {
        color: #fff;
        font-size: 9px;
        margin-top: 60%;
        line-height: 10px;
        position: relative;
        display: none;
        text-transform: uppercase;
        padding: 5px 3px;
        background: rgba(255, 255, 255, 0.4); }
      .hits .promoSlider .promoSlider__link:hover span {
        display: inline-block; }
    .hits .promoSlider .promoSlider__text {
      color: #000;
      font-size: 10px;
      line-height: 14px;
      text-align: right;
      margin-right: 10px; }
      .hits .promoSlider .promoSlider__text span {
        display: block; }
      .hits .promoSlider .promoSlider__text .promoSlider__name {
        text-transform: uppercase; }
      .hits .promoSlider .promoSlider__text b {
        font-weight: 400; }
    .hits .promoSlider .slide-nav {
      top: 50%;
      width: 20px;
      height: 38px;
      cursor: pointer;
      margin-top: -30px;
      position: absolute; }
      .hits .promoSlider .slide-nav:before {
        top: 0;
        left: 0;
        width: 20px;
        height: 38px;
        content: ' ';
        position: absolute;
        background: url("../img/sprite.png") no-repeat; }
      .hits .promoSlider .slide-nav.prev {
        left: 0; }
        .hits .promoSlider .slide-nav.prev:before {
          background-position: -70px -42px; }
      .hits .promoSlider .slide-nav.next {
        right: 0; }
        .hits .promoSlider .slide-nav.next:before {
          background-position: -90px -42px; }
  @media (min-width: 768px) {
    .hits .hits-title {
      font-size: 26px;
      line-height: 30px;
      margin-bottom: 25px; }
    .hits .promoSlider {
      padding: 0 25px;
      margin-bottom: 40px; }
      .hits .promoSlider .promoSlider__body {
        margin-bottom: 30px; }
      .hits .promoSlider .promoSlider__item {
        margin: 0 20px; }
      .hits .promoSlider .promoSlider__link span {
        font-size: 14px;
        line-height: 20px;
        padding: 5px 5px 5px 50px; }
        .hits .promoSlider .promoSlider__link span:before {
          top: 6px;
          left: 6px;
          width: 33px;
          height: 18px;
          content: ' ';
          position: absolute;
          background: url("../img/sprite.png") -70px 0 no-repeat; }
      .hits .promoSlider .promoSlider__text {
        color: #000;
        font-size: 14px;
        line-height: 18px;
        text-align: right; }
        .hits .promoSlider .promoSlider__text b {
          font-size: 23px;
          line-height: 25px; }
      .hits .promoSlider .slide-nav.prev {
        left: 15px; }
      .hits .promoSlider .slide-nav.next {
        right: 15px; } }
  @media (min-width: 1170px) {
    .hits {
      background: url("../img/hits_bg.png") top center repeat-y; }
      .hits .promoSlider {
        padding: 0 30px;
        margin-bottom: 0; }
        .hits .promoSlider .promoSlider__body {
          margin-bottom: 15px; }
        .hits .promoSlider .promoSlider__item {
          margin: 0 25px; }
        .hits .promoSlider .promoSlider__link span {
          font-size: 10px;
          line-height: 20px;
          padding: 5px 5px 5px 25px; }
          .hits .promoSlider .promoSlider__link span:before {
            top: 10px;
            left: 5px;
            width: 16px;
            height: 9px;
            background: url("../img/sprite.png") -104px 0 no-repeat; }
        .hits .promoSlider .promoSlider__text {
          color: #000;
          font-size: 14px;
          line-height: 20px;
          text-align: right; }
          .hits .promoSlider .promoSlider__text b {
            font-size: 23px;
            line-height: 38px; }
        .hits .promoSlider .slide-nav.prev {
          left: 15px; }
        .hits .promoSlider .slide-nav.next {
          right: 15px; } }
  @media (min-width: 1620px) {
    .hits .hits-title {
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 25px; }
    .hits .promoSlider .promoSlider__link span {
      font-size: 14px;
      line-height: 20px;
      padding: 5px 5px 5px 50px; }
      .hits .promoSlider .promoSlider__link span:before {
        top: 6px;
        left: 6px;
        width: 33px;
        height: 18px;
        background: url("../img/sprite.png") -70px 0 no-repeat; } }

.promo-video {
  padding-top: 40px;
  padding-bottom: 40px; }
  .promo-video .promo-video-title {
    color: #000;
    font-size: 13px;
    padding-top: 30px;
    margin-bottom: 15px;
    font-family: "PT Serif", serif; }
  @media (min-width: 768px) {
    .promo-video .promo-video-title {
      font-size: 26px; } }
  @media (min-width: 1170px) {
    .promo-video {
      padding-top: 40px; }
      .promo-video .promo-video-title {
        font-size: 21px;
        line-height: 30px; } }
  @media (min-width: 1620px) {
    .promo-video .promo-video-title {
      font-size: 30px;
      line-height: 40px; } }

.promo-ring-block {
  padding-bottom: 40px; }
  .promo-ring-block .promo-ring {
    width: 140px;
    height: 140px;
    color: #1a1a1a;
    display: table;
    overflow: hidden;
    background: #fbf9fc;
    text-align: center;
    margin: 0 auto 10px auto;
    border: 2px solid #966993;
    text-transform: uppercase;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    .promo-ring-block .promo-ring:hover {
      background: #fff; }
    .promo-ring-block .promo-ring .promo-ring-inner {
      width: 100%;
      height: 100%;
      display: table-cell;
      vertical-align: middle; }
    .promo-ring-block .promo-ring .promo-ring-icon {
      margin-bottom: 10px;
      display: inline-block; }
      .promo-ring-block .promo-ring .promo-ring-icon img {
        display: inline-block;
        max-width: 100%;
        height: auto; }
    .promo-ring-block .promo-ring .promo-ring-title {
      font-size: 13px;
      display: block; }
    .promo-ring-block .promo-ring .promo-ring-text {
      font-size: 10px;
      display: block; }
  @media (min-width: 768px) {
    .promo-ring-block .promo-ring {
      margin-bottom: 30px; } }
  @media (min-width: 1170px) {
    .promo-ring-block .promo-ring {
      width: 160px;
      height: 160px;
      margin-bottom: 0; } }

/*# sourceMappingURL=main.css.map */
