
.billboard {
	margin-bottom: 20px;
}

.filter {
	margin-bottom: 20px;

	.filter__group {
		margin: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		padding: 0 0 15px 0;

		li {
			height: 20px;
			color: #747474;
			font-size: 14px;
			line-height: 20px;
			margin: 0 0 10px 10px;
			display: inline-block;

			&:first-child {
				display: block;
			}
		}
	}

	.filter__select {
		width: 100%;
		outline: none;
		color: #4d4d4d;
		font-size: 11px;
		padding: 1px 22px 1px 5px;
		line-height: 16px;
		border: 1px solid #e5e5e5;
		background: #fff url("../img/filter_select.png") right center no-repeat;

		-webkit-appearance: none;
		-moz-appearance: none;
		text-indent: 0.01px;
		text-overflow: '';
		-ms-appearance: none;
		appearance: none!important;


		&::-ms-expand {
			display: none;
		}

		&:hover {
			background-color: #e5e5e5;
		}

		> option {
			background: #e5e5e5;

			&:focus {
				background: #262626;
			}
		}
	}

	.icr-label {
		color: #060606;
		font-size: 11px;
		line-height: 16px;
		padding: 2px 15px;
		background: #e5e5e5;
		display: inline-block;
		text-transform: uppercase;

		&.checked {
			color: #fff;
			background: #262626;
		}
	}
}

.showcase {
	margin-bottom: 20px;

	.showcase__item {
		position: relative;
		vertical-align: top;
		margin: 0 auto 20px auto;
		display: inline-block;

		&:hover {

			.showcase__view {
				display: block;
			}
		}
	}

	.showcase__sale {
		right: 0;
		top: 20px;
		z-index: 50;
		color: #fff;
		width: 60px;
		height: 20px;
		font-size: 14px;
		line-height: 20px;
		text-align: center;
		position: absolute;
		background: #e24d1e;
		text-transform: uppercase;

		&.showcase__sale10 {
			background: #ce6fd1;
		}

		&.showcase__sale20 {
			background: #26ce42;
		}

		&.showcase__sale30 {
			background: #6c93bc;
		}

		&.showcase__new {
			background: #ff0000;
		}
	}

	.showcase__image {
		position: relative;
		margin-bottom: 10px;
		display: inline-block;

		img {
			@include img-responsive(inline-block);
		}
	}

	.showcase__name {
		display: block;
		font-size: 13px;
		line-height: 20px;
		text-align: right;
		text-transform: uppercase;
	}

	.showcase__price {
		height: 24px;
		overflow: hidden;
		text-align: right;

		.showcase__price_old {
			color: #6d6d6d;
			font-size: 10px;
			line-height: 20px;
			margin-right: 5px;
			display: inline-block;
			text-decoration: line-through;
		}

		.showcase__price_new {
			color: #3e3e3e;
			font-size: 12px;
			line-height: 20px;
			display: inline-block;
		}
	}

	.showcase__link {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 300;
		display: block;
		cursor: pointer;
		position: absolute;
		text-align: center;


		span {
			color: #fff;
			font-size: 9px;
			margin-top: 60%;
			line-height: 10px;
			position: relative;
			display: none;
			padding: 5px 3px;
			text-transform: uppercase;
			background: rgba(255,255,255, .4);

		}

		&:hover {

			span {
				display: inline-block;
			}
		}
	}

	.showcase__view {
		top: -6px;
		left: -71px;
		right: -6px;
		z-index: 200;
		display: none;
		background: #fff;
		position: absolute;
		padding: 5px 5px 6px 70px;
		border: 1px solid #404040;

		.showcase__fast {
			padding-top: 5px;
			text-align: right;
			border-top: 1px solid #a9a9a9;

			.showcase__fast_title {
				color: #a8a8a8;
				font-size: 12px;
				margin-bottom: 5px;
			}
		}

		.showcase_thumb {
			top: 5px;
			left: 5px;
			margin: 0;
			padding: 0;
			width: 60px;
			list-style: none;
			position: absolute;

			li {
				padding: 2px;
				border: 1px solid #6a6a6a;
				border-bottom-color: transparent;

				&:last-child {
					border-bottom-color: #6a6a6a;
				}
			}
		}

	}

	.showcase__size {
		padding: 0;
		font-size: 0;
		line-height: 0;
		display: block;
		margin: 0;
		list-style: none;

		li {
			display: inline-block;
			margin: 5px 0 10px 10px;

			label {
				width: 28px;
				color: #2d2c27;
				padding: 2px 4px;
				font-size: 14px;
				line-height: 16px;
				text-align: center;
				display: inline-block;
				border: 2px solid #dedede;

				&.checked {
					border-color: #e24d1e;
				}

				.icr-text {
					vertical-align: inherit;
				}
			}
		}
	}
}

@media (min-width: $screen-sm-min) {

	.filter {

		.filter__group {

			li {
				height: 24px;
				font-size: 16px;
				line-height: 24px;

				&:first-child {
					display: inline-block;
				}
			}
		}

		.filter__select {
			font-size: 14px;
			padding: 2px 30px 2px 8px;
		}

		.icr-label {
			font-size: 14px;
			padding: 4px 15px;
		}
	}

	.showcase {

		.showcase__link {

			span {
				font-size: 10px;
				line-height: 20px;
				padding: 5px 5px 5px 50px;

				&:before {
					top: 6px;
					left: 6px;
					width: 33px;
					height: 18px;
					content: ' ';
					position: absolute;
					background: url("../img/sprite.png") -70px 0 no-repeat;
				}
			}
		}
	}
}


@media (min-width: $screen-md-min) {

	.showcase {

		.showcase__price  {
			height: 30px;

			.showcase__price_old {
				font-size: 14px;
				line-height: 24px;
			}

			.showcase__price_new {
				color: #3e3e3e;
				font-size: 20px;
				line-height: 24px;
			}
		}

		.showcase__link {

			span {
				font-size: 14px;
				line-height: 20px;
				padding: 5px 5px 5px 45px;

				&:before {
					top: 6px;
					left: 5px;
					width: 33px;
					height: 18px;
					background: url("../img/sprite.png") -70px 0 no-repeat;
				}
			}
		}
	}

}

@media (min-width: $screen-lg-min) {

	.showcase {

		.showcase__link {

			span {
				font-size: 14px;
				line-height: 20px;
				padding: 5px 5px 5px 50px;

				&:before {
					top: 6px;
					left: 6px;
					width: 33px;
					height: 18px;
					background: url("../img/sprite.png") -70px 0 no-repeat;
				}
			}
		}
	}
}