.promo-video {
	padding-top: 40px;
	padding-bottom: 40px;

	background: #fae9f9; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmFlOWY5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMjclIiBzdG9wLWNvbG9yPSIjZWZkZWVlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZDJjZWVhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNzUlIiBzdG9wLWNvbG9yPSIjZjlmMmY5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VmZGZlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg,  #fae9f9 0%, #efdeee 27%, #d2ceea 50%, #f9f2f9 75%, #efdfee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#fae9f9), color-stop(27%,#efdeee), color-stop(50%,#d2ceea), color-stop(75%,#f9f2f9), color-stop(100%,#efdfee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #fae9f9 0%,#efdeee 27%,#d2ceea 50%,#f9f2f9 75%,#efdfee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #fae9f9 0%,#efdeee 27%,#d2ceea 50%,#f9f2f9 75%,#efdfee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #fae9f9 0%,#efdeee 27%,#d2ceea 50%,#f9f2f9 75%,#efdfee 100%); /* IE10+ */
	background: linear-gradient(135deg,  #fae9f9 0%,#efdeee 27%,#d2ceea 50%,#f9f2f9 75%,#efdfee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fae9f9', endColorstr='#efdfee',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

	.promo-video-title {
		color: #000;
		font-size: 13px;
		padding-top: 30px;
		margin-bottom: 15px;
		font-family: $font-serif;
	}

	@media (min-width: $screen-sm-min) {

		.promo-video-title {
			font-size: 26px;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 40px;

		.promo-video-title {
			font-size: 21px;
			line-height: 30px;
		}
	}

	@media (min-width: $screen-lg-min) {

		.promo-video-title {
			font-size: 30px;
			line-height: 40px;
		}
	}
}


.promo-ring-block {
	padding-top: 40px;

	.promo-ring {
		width: 140px;
		height: 140px;
		color: #1a1a1a;
		display: table;
		overflow: hidden;
		background: #e7e6e7;
		text-align: center;
		margin: 0 auto 10px auto;
		border: 2px solid #966993;
		text-transform: uppercase;
		@include border-radius(50%);

		&:hover {
			background: #fff;
		}

		.promo-ring-inner {
			width: 100%;
			height: 100%;
			display: table-cell;
			vertical-align: middle;
		}

		.promo-ring-icon {
			margin-bottom: 10px;
			display: inline-block;

			img {
				@include img-responsive(inline-block);
			}
		}

		.promo-ring-title {
			font-size: 13px;
			display: block;

		}

		.promo-ring-text {
			font-size: 10px;
			display: block;
		}
	}

	@media (min-width: $screen-sm-min) {

		.promo-ring {
			margin-bottom: 30px;
		}
	}

	@media (min-width: $screen-md-min) {

		.promo-ring {
			width: 160px;
			height: 160px;
			margin-bottom: 0;
		}
	}
}