.sideNav {

	.sidenav__title {
		color: #fff;
		height: 22px;
		font-size: 17px;
		line-height: 22px;
		padding-left: 22px;
		background: #262626;
		margin-bottom: 20px;
		text-transform: uppercase;
	}

	.sideNav__nav {
		padding: 0;
		list-style: none;
		margin: 0 40px 20px 20px;

		li {
			font-size: 14px;
			line-height: 16px;

			a {
				color: #404040;
				display: block;
				cursor: pointer;
				padding: 1px 12px;
				text-decoration: none;

				&:hover {
					background: #f0f0f0;
				}
			}

			&.active {

				a {
					background: #f0f0f0;
				}
			}

			&:first-child {
				font-size: 17px;
				line-height: 20px;
				text-transform: uppercase;

				a {
					color: #5d2c5a;
					padding: 1px 0;
				}
			}

			&.sale {
				a {
					color: #e24d1e;
				}
			}
		}
	}

	.sideNav__section {

	}
}

.sidebar__title {
	color: #fff;
	font-size: 17px;
	line-height: 20px;
	padding: 10px 20px;
	background: #212121;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.historyView {
	padding: 20px 0;
	position: relative;

	.historyView__row {
		margin-bottom: 10px;
	}

	.historyView__item {
		float: left;
		width: 50%;
		display: block;
		padding: 0 15px;
		text-align: center;

		img {
			@include img-responsive(inline-block);
		}
	}

	.vertical-nav {
		left: 50%;
		width: 37px;
		height: 16px;
		cursor: pointer;
		margin-left: -19px;
		position: absolute;
		background: url("../img/sprite.png") no-repeat;

		&.prev {
			top: 0;
			background-position: -110px -42px;
		}

		&.next {
			bottom: 0;
			background-position: -110px -58px;
		}
	}
}