.slider {
	overflow: hidden;
	position: relative;
	max-height: 353px;

	.slider__body {
		position: relative;
	}

	.slider-nav {
		top: 50%;
		width: 35px;
		height: 68px;
		z-index: 100;
		display: none;
		cursor: pointer;
		margin-top: -34px;
		position: absolute;
		background: url("../img/slider_nav.png") no-repeat;

		&.prev {
			left: 20px;
			background-position: 0 0;

			&:hover {
				background-position: 0 -68px;
			}
		}

		&.next {
			right: 20px;
			background-position: -35px 0;

			&:hover {
				background-position: -35px -68px;
			}
		}
	}

	.btn-down {
		left: 50%;
		width: 67px;
		height: 35px;
		bottom: 25px;
		display: none;
		cursor: pointer;
		margin-left: -34px;
		position: absolute;
		background: url("../img/slider_nav.png") 0 -170px no-repeat;

		&:hover {
			background-position: 0 -135px;
		}
	}

	@media (min-width: $screen-sm-min) {
		max-height: 723px;
	}

	@media (min-width: $screen-md-min) {

		.slider-nav {
			display: block;
		}

		.btn-down {
			display: block;
		}

	}

	@media (min-width: $screen-lg-min) {
		max-height: 860px;
	}
}