* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


// Body reset

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
}


.container {
	position: relative;
	@include clearfix();
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


// Links

a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		outline: none;
		color: $link-color;
		text-decoration: $link-hover-decoration;
	}

}


// Headings

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

h2 {
	color: #15100a;
	font-size: 25px;
	line-height: 30px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

h4 {
	color: #393939;
	font-size: 18px;
	line-height: 20px;
	padding-top: 10px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

p {
	padding: 0;
	margin: 0 0 5px 0;
}

.text-orange {
	color: $text-orange;
}

.unstyle {
	padding: 0;
	list-style: none;
	margin: 0 0 10px 0;
}

.divider40 {
	padding-top: 39px;
	margin-bottom: 40px;
	border-bottom: 1px solid #6a6a6a;
}