.form-control {
	margin: 0;
	width: 100%;
	color: #fff;
	border: none;
	outline: none;
	font-size: 15px;
	line-height: 20px;
	padding: 5px 0 0 0;
	display: inline-block;
	background: transparent;
	border-bottom: 1px solid #fff;
	@include placeholder(#fff);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}
}

.red {

}



label {
	font-weight: 400;
	display: block;
}

.form-group {
	position: relative;
	margin-bottom: 20px;
}